In [ ]:
import numpy as np
import pandas as pd

scores = np.random.randint(50,101,size=(50,5))
df1 = pd.DataFrame(scores,
             columns=['國文','英文','數學','地理','歷史'],
             index = range(1,51))
df1

In [25]:
df1.index.name = '學號'
df1.columns.name = '科目'

In [26]:
df1.iloc[1].sum()

np.int64(420)

In [27]:
sum = df1.sum(axis=1)
average = sum /5
average

學號
1     68.8
2     84.0
3     82.0
4     78.4
5     67.0
6     78.6
7     58.2
8     64.6
9     58.6
10    78.2
11    75.6
12    64.6
13    79.6
14    78.4
15    77.8
16    75.2
17    73.2
18    79.2
19    95.8
20    76.6
21    77.0
22    80.0
23    58.6
24    76.4
25    80.4
26    71.8
27    76.2
28    68.0
29    72.4
30    68.0
31    76.2
32    83.6
33    77.0
34    71.6
35    74.2
36    67.4
37    63.0
38    80.4
39    78.0
40    79.4
41    82.6
42    72.2
43    77.2
44    79.8
45    84.6
46    76.0
47    60.6
48    88.0
49    83.4
50    73.2
dtype: float64

In [29]:
df1['總分']= sum
df1['平均']= average
df1

科目   國文   英文   數學   地理   歷史   總分    平均
學號
1    56   91   66   75   56  344  68.8
2    98   83   71   84   84  420  84.0
3    61   98   91   87   73  410  82.0
4   100   66   92   64   70  392  78.4
5    51   50   54   87   93  335  67.0
6    71   71   90   98   63  393  78.6
7    55   52   52   54   78  291  58.2
8    95   66   56   56   50  323  64.6
9    60   57   54   50   72  293  58.6
10   98   61  100   71   61  391  78.2
11   69   71   79   71   88  378  75.6
12   53   76   74   65   55  323  64.6
13   84   90   52   86   86  398  79.6
14   71   96   53   95   77  392  78.4
15   53   81   62   98   95  389  77.8
16   65   53   58  100  100  376  75.2
17   56   88   62   79   81  366  73.2
18   79   94   73   63   87  396  79.2
19  100   97   98   84  100  479  95.8
20   61   77   73   78   94  383  76.6
21  100   62   58   75   90  385  77.0
22   72  100   84   52   92  400  80.0
23   75   61   51   50   56  293  58.6
24   79   70   95   56   82  382  76.4
25   58   87   93   87   77  402  80.4
26   66   50   95   90   58  359  71.8
27   64   73   71   73  100  381  76.2
28   66   66   68   59   81  340  68.0
29   60   83   98   71   50  362  72.4
30   85   66   53   71   65  340  68.0
31   69   81   81   70   80  381  76.2
32   79   87   66   93   93  418  83.6
33   70   60   96   63   96  385  77.0
34   68   85   50   74   81  358  71.6
35   77   94   69   56   75  371  74.2
36   63   69   65   83   57  337  67.4
37   89   67   50   52   57  315  63.0
38   60   89   95   85   73  402  80.4
39   65  100   65   97   63  390  78.0
40   88   70   52   99   88  397  79.4
41   99   63   63   98   90  413  82.6
42   82   58   90   68   63  361  72.2
43   57   92   57   87   93  386  77.2
44  100   72   96   71   60  399  79.8
45  100   82   74   99   68  423  84.6
46   97   54   92   85   52  380  76.0
47   57   66   50   78   52  303  60.6
48   98   87   96   60   99  440  88.0
49   83   98   66   98   72  417  83.4
50   64   61   62   83   96  366  73.2

In [32]:
english_series = df1['英文'] < 60
df1[english_series]

科目  國文  英文  數學   地理   歷史   總分    平均
學號
5   51  50  54   87   93  335  67.0
7   55  52  52   54   78  291  58.2
9   60  57  54   50   72  293  58.6
16  65  53  58  100  100  376  75.2
26  66  50  95   90   58  359  71.8
42  82  58  90   68   63  361  72.2
46  97  54  92   85   52  380  76.0