In [ ]:
import numpy as np
import pandas as pd
scores = np.random.randint(50,101,size=(50,5))
scores_df = pd.DataFrame(scores,index=range(1,51),columns=['國文','英文','數學','地理','歷史'])
scores_df.index.name = "學號"
scores_df.columns.name ="科目"
scores_df

In [14]:
scores_df1 = scores_df.copy()

In [ ]:
def call(s):
    return s.sum()
scores_df.apply(call,axis=1)

In [ ]:
def cal2(s):
    nums = int(s[s<60].count())
    return nums
scores_df1['不及格的科目']=scores_df.apply(cal2,axis=1)
scores_df1

In [21]:
def cal3(s):
    return pd.Series([s.min(),s.max(),s.std()],index=['最低分','最高分','標準差'])
scores_df3 = scores_df.apply(cal3)

In [ ]:
display(scores_df)
scores_df3

In [23]:
pd.concat([scores_df,scores_df3])

科目           國文         英文          數學          地理          歷史
1     84.000000  91.000000   59.000000   52.000000   50.000000
2     62.000000  83.000000   75.000000   92.000000   85.000000
3     84.000000  53.000000   95.000000   83.000000   92.000000
4     98.000000  88.000000   68.000000   77.000000   51.000000
5     83.000000  60.000000   63.000000   70.000000   97.000000
6     87.000000  93.000000   80.000000   74.000000   80.000000
7     84.000000  56.000000   61.000000   51.000000   97.000000
8     86.000000  57.000000   53.000000   94.000000   84.000000
9    100.000000  55.000000   75.000000   78.000000   53.000000
10    77.000000  87.000000   72.000000   99.000000   79.000000
11    89.000000  57.000000   96.000000   82.000000   87.000000
12    86.000000  80.000000   89.000000   84.000000   94.000000
13    69.000000  94.000000   81.000000   72.000000   95.000000
14    69.000000  98.000000   87.000000   80.000000   72.000000
15    57.000000  60.000000   72.000000   96.000000   79.000000
16    88.000000  75.000000  100.000000   53.000000   84.000000
17    87.000000  77.000000   89.000000   97.000000   94.000000
18    64.000000  71.000000   55.000000   84.000000  100.000000
19    99.000000  65.000000   71.000000   84.000000   59.000000
20    81.000000  59.000000   97.000000   88.000000   97.000000
21    51.000000  94.000000   88.000000   54.000000   50.000000
22    71.000000  57.000000   98.000000   54.000000   75.000000
23    84.000000  81.000000   83.000000   85.000000   65.000000
24    75.000000  99.000000   92.000000  100.000000   60.000000
25    65.000000  88.000000   64.000000   71.000000   80.000000
26    63.000000  69.000000   81.000000   84.000000   66.000000
27    82.000000  50.000000   76.000000   63.000000   68.000000
28    79.000000  60.000000   78.000000   55.000000   95.000000
29    79.000000  80.000000   65.000000   82.000000   61.000000
30    94.000000  58.000000   71.000000   99.000000   71.000000
31    87.000000  69.000000   52.000000   83.000000   57.000000
32    86.000000  56.000000   94.000000   82.000000   86.000000
33    82.000000  67.000000   91.000000   68.000000   63.000000
34    54.000000  50.000000   65.000000   63.000000   88.000000
35    97.000000  59.000000   94.000000   54.000000   70.000000
36    62.000000  79.000000   88.000000   64.000000   99.000000
37    87.000000  95.000000   71.000000   68.000000   83.000000
38    94.000000  70.000000   64.000000   79.000000   99.000000
39    50.000000  54.000000   98.000000   73.000000   67.000000
40    95.000000  73.000000   61.000000   57.000000   61.000000
41    89.000000  87.000000   97.000000   83.000000   57.000000
42    61.000000  87.000000   61.000000   81.000000   72.000000
43    53.000000  96.000000   64.000000   79.000000   88.000000
44    75.000000  63.000000   98.000000   70.000000   53.000000
45    59.000000  68.000000   61.000000   51.000000   90.000000
46    88.000000  79.000000   53.000000   76.000000   95.000000
47    95.000000  90.000000   95.000000   80.000000   98.000000
48    89.000000  55.000000   99.000000   87.000000   92.000000
49    78.000000  86.000000   94.000000   83.000000   68.000000
50    93.000000  74.000000   64.000000   68.000000   63.000000
最低分   50.000000  50.000000   52.000000   51.000000   50.000000
最高分  100.000000  99.000000  100.000000  100.000000  100.000000
標準差   13.833544  14.967939   15.059013   13.884421   15.789289