In [ ]:
import numpy as np
import pandas as pd
scores = np.random.randint(50,101,size=(50,5))
scores_df = pd.DataFrame(scores,index=range(1,51),columns=['國文','英文','數學','地理','歷史'])
scores_df.index.name = "學號"
scores_df.columns.name ="科目"
scores_df

In [14]:
scores_df1 = scores_df.copy()

In [ ]:
def call(s):
    return s.sum()
scores_df.apply(call,axis=1)

In [ ]:
def cal2(s):
    nums = int(s[s<60].count())
    return nums
scores_df1['不及格的科目']=scores_df.apply(cal2,axis=1)
scores_df1

In [19]:
def cal3(s):
    return pd.Series([s.min(),s.max(),s.std()],index=['最低分','最高分','標準差'])
scores_df.apply(cal3)

科目           國文         英文          數學          地理          歷史
最低分   50.000000  50.000000   52.000000   51.000000   50.000000
最高分  100.000000  99.000000  100.000000  100.000000  100.000000
標準差   13.833544  14.967939   15.059013   13.884421   15.789289