In [3]:
#階層式的索引
import numpy as np
import pandas as pd

s1 =pd.Series(np.random.randn(9),
          index=[
              ['a','a','a','b','b','c','c','d','d'],
              [1, 2, 3, 1, 2, 3, 1, 2, 3]
              ]
)
s1

a  1   -0.521541
   2   -0.821160
   3   -0.132217
b  1    1.940341
   2    2.113292
c  3   -1.013400
   1    0.551549
d  2   -0.988512
   3    1.171592
dtype: float64

In [4]:
s1[['a','b']]

a  1   -0.521541
   2   -0.821160
   3   -0.132217
b  1    1.940341
   2    2.113292
dtype: float64

In [5]:
s1[('a',3)]

np.float64(-0.13221729373351576)

In [7]:
s1.index.names = ['key1','key2']

In [8]:
s1

key1  key2
a     1      -0.521541
      2      -0.821160
      3      -0.132217
b     1       1.940341
      2       2.113292
c     3      -1.013400
      1       0.551549
d     2      -0.988512
      3       1.171592
dtype: float64

In [9]:
s1.unstack(level='key2')

key2         1         2         3
key1
a    -0.521541 -0.821160 -0.132217
b     1.940341  2.113292       NaN
c     0.551549       NaN -1.013400
d          NaN -0.988512  1.171592

In [10]:
s1.unstack(level='key1')

key1         a         b         c         d
key2
1    -0.521541  1.940341  0.551549       NaN
2    -0.821160  2.113292       NaN -0.988512
3    -0.132217       NaN -1.013400  1.171592